RewriteEngine on

#forcing http to https
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} =www.dcfportfolio.com
RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R=301]

#diplaying pages without php extension
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
REwriteRule ^(.*)$ $1.php
