/*naigation menu*/
.headerMenu {
  border-bottom-style: solid;
  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
  border-width: 2px;
  border-color: rgba(0,0,0,0.2);
  margin: 0;
  padding: 5px;
  overflow: auto;
}

/*nav menu button special alignments*/
.goLeft {
  float: left;
}

.goRight {
  float: Right;
}

.goCenter {
  text-align: center;
}

/*h2 {
  color: Navy;
}*/
/*default background and margins for site*/
body {
  background-color: #f5f5f5;
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 2.0;
}

/*added margins to allow more whitespace and cleaner look overall*/
.centeredWrapper {
  padding: 0;
  margin: 0 auto;
  overflow: auto;
  width: 70%;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  word-wrap: normal;

}

/*Banner links styling*/
.bannerLinks a {
  text-decoration: none;
  color: inherit;
}

.bannerLinks a:hover {
  text-decoration: none;
  color: rgba(0,0,0,0.5);
  opacity: 0.5;
  filter: alpha(opacity=50);

}

/*about section banner*/
.aboutBanner {
  /*background-color: #ffffe0;*/
  margin: 20px;
  padding: 0;
  overflow: auto;
}

.AboutMeWrapperGoLeft {
  width: 75%;
  float: left;
  margin-right: 2%;
}

.AboutMeWrapperGoRight {
  width: 22%;
  float: Right;
  text-align: center;
  margin-left: 1%;
}

.AboutMeWrapperGoRight img{
  margin-top: 25px;
}

/*education section banner*/
.educationBanner {
  background-color: #B0E0E6;
  height: 300px;
  margin: 0;
  padding: 0;
  overflow: auto;
  color: black;
}

/*projects section banner*/
.projectsBanner {
  background-color: #E6E6FA;
  height: 300px;
  margin: 0;
  padding: 0;
  overflow: auto;
  color: black;
}

/*contact form section banner*/
.contactFormBanner {
  height: 300px;
  margin: 0;
  padding: 0;
  overflow: auto;
  color: black;
}

/*Links to professional resources facebook, github, linkedin. Can include copyright for website.*/
footer {
  border-bottom-style: none;
  border-left-style: none;
  border-right-style: none;
  border-top-style: solid;
  border-width: 2px;
  border-color: rgba(0,0,0,0.2);
  margin: 0;
  padding: 5px 0px 0px 0px;
  overflow: auto;
}

.connectIcons img{
  margin: 5px;
  width: 100px;
  height: 100px;
}

.noLinkEffects a, a:visited, a:active, a:link{
  margin-top:5px;
  color: black;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
  color: blue;
}
