/*naigation menu*/
.headerMenu {
  background-color: orange;
  margin: 0;
  padding: 0;
  overflow: auto;
}

/*nav menu button special alignments*/
.goLeft {
  float: left;
}

.goRight {
  float: Right;
}

/*header and banner links to about section*/
.topBanner {
  background-color: red;
  height: 300px;
  margin: 0;
  padding: 0;
  overflow: auto;
  background-image: url('images/hacker-green.jpg');
  background-size: contain;
  background-repeat: x;
  color: gold;
}

/*default background and margins for site*/
body {
  background-color: #f5f5f5;
  text-align: center;
  margin: 0;
  padding: 0;
}

/*added margins to allow more whitespace and cleaner look overall*/
.centeredWrapper {
  padding: 0;
  margin: 0 auto;
  overflow: auto;
  width: 70%;
  text-align: left;
  font-family: "Times New Roman", Times, serif;
  word-wrap: break-word;
  background-color: #f5f5dc;
}

/*Links to professional resources facebook, github, linkedin. Can include copyright for website.*/
footer {
  height: 200px;
  margin: 0;
  padding: 0;
  overflow: auto;
  background-color: #00ffff;
  background-image: url('images/good-bye.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
