/*naigation menu*/
.headerMenu {
  border-bottom-style: solid;
  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
  border-width: 2px;
  border-color: rgba(0,0,0,0.2);
  margin: 0;
  padding: 5px;
  overflow: auto;
  background-color: white;
}

/*nav menu button special alignments*/
.goLeft {
  float: left;
}

.goRight {
  float: Right;
}

.goCenter {
  text-align: center;
  background-color: white;
}

/*default background and margins for site*/
body {
  background-color: #f5f5f5;
  text-align: center;
  margin: 0;
  padding: 0;
}

/*added margins to allow more whitespace and cleaner look overall*/
.centeredWrapper {
  padding: 0;
  margin: 0 auto;
  overflow: auto;
  width: 70%;
  text-align: left;
  font-family: "Times New Roman", Times, serif;
  word-wrap: break-word;

}

/*about section banner*/
.aboutBanner {
  background-color: #ffffe0;
  height: 300px;
  margin: 0;
  padding: 0;
  overflow: auto;

}

/*education section banner*/
.educationBanner {
  background-color: #B0E0E6;
  height: 300px;
  margin: 0;
  padding: 0;
  overflow: auto;
  color: black;
}

/*projects section banner*/
.projectsBanner {
  background-color: #E6E6FA;
  height: 300px;
  margin: 0;
  padding: 0;
  overflow: auto;
  color: black;
}

/*contact form section banner*/
.contactFormBanner {
  height: 300px;
  margin: 0;
  padding: 0;
  overflow: auto;
  color: black;
}

/*Links to professional resources facebook, github, linkedin. Can include copyright for website.*/
footer {
  border-bottom-style: none;
  border-left-style: none;
  border-right-style: none;
  border-top-style: solid;
  border-width: 2px;
  border-color: rgba(0,0,0,0.2);
  height: 200px;
  margin: 0;
  padding: 5 0 0 0;
  overflow: auto;
  background-color: #00ffff;
  background-image: url('images/good-bye.jpg');
  background-size: contain;
  background-repeat: x;
}
