.topBanner {
  background-color: red;
  height: 300px;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.headerMenu {
  background-color: orange;
  margin: 0;
  padding: 0;
  overflow: auto;

}

body {
  background-color: #f5f5f5;
  text-align: center;
  margin: 0;
  padding: 0;
}

.centeredWrapper {
  padding: 0;
  margin: 0 auto;
  overflow: auto;
  width: 70%;
  text-align: left;
  font-family: "Times New Roman", Times, serif;
  word-wrap: break-word;
  background-color: #f5f5dc;
}

footer {
  height: 200px;
  margin: 0;
  padding: 0;
  overflow: auto;
  background-color: #00ffff;
}
