.topBanner {
  background-color: red;
  height: 300px;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.headerMenu {
  height: 100px;
  background-color: orange;
  margin: 0;
  padding: 0;
  overflow: auto;
}

body {
  background-color: #f5f5f5;
  text-align: center;
  margin: 0;
  padding: 0;
}

.centeredWrapper {
  margin: auto;
  width: 70%;
  text-align: left;
  font-family: "Times New Roman", Times, serif;
}
