header{
    padding: 250px 250px 250px 250px;
    text-align: center;
    background-image: url("LegalOwnership/Snapchat-2087248607.jpg");
    background-repeat: repeat-x;
    color: white;
}

body {
  margin: auto;
  width: 70%;
  background-color: pink;
}
