header{
    padding: 250px 250px 250px 250px;
    text-align: center;
    background-image: url("LegalOwnership/Snapchat-2087248607.jpg");
    background-color: white;
    background-repeat: repeat-x;
    color: #FF1493;
}

body {
  margin: auto;
  width: 70%;
  background-color: pink;
}

footer {
  padding: 150px 150px 150px 150px;
  align: center;
  background-color: white;
}

footer img:hover {
  border-style: double;
  border-color: blue;
}
