header{
    padding: 250px 250px 250px 250px;
    text-align: center;
    background-image: url("LegalOwnership/Snapchat-2087248607.jpg");
    background-color: white;
    background-repeat: repeat-x;
    color: #FF1493;
}

body {
  margin: auto;
  width: 70%;
  background-color: pink;
}

footer {
  padding: 150px 150px 150px 150px;
  text-align: center;
}

footer img {
  padding-left: 50px;
  padding-right: 50px;
}
