/*naigation menu*/
.headerMenu {
  border-bottom-style: solid;
  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
  border-width: 2px;
  border-color: rgba(0,0,0,0.2);
  margin: 0;
  padding: 5px;
  overflow: auto;
}

/*nav menu button special alignments*/
.goLeft {
  float: left;
}

.goRight {
  float: Right;
}

.goCenter {
  text-align: center;
}

/*nav bar drop down menu*/
.dropbtn {
  padding: 16px;
  border: none;
  background-color: inherit;
}

.extendbtn {
  padding: 16px;
  border: none;
  background-color: inherit;
}

.dropdown {
  position: absolute;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0;
}

.extend-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 200;
  top:8px;
}

.dropdown-content a, .extend-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover, .extend-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content, .dropdown:hover .extend-content {
  display: block;
}

.dropdown:hover .dropbtn, .dropdown:hover .extendbtn {
  background-color: #ddd;
}

/*h2 {
  color: Navy;
}*/
/*default background and margins for site*/
body {
  background-color: #f5f5f5;
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 2.0;
  font-family: Arial, Helvetica, sans-serif;
}

/*added margins to allow more whitespace and cleaner look overall*/
.centeredWrapper {
  padding: 0;
  margin: 0 auto;
  overflow: auto;
  width: 70%;
  text-align: left;
  word-wrap: normal;

}

/*Banner links styling*/
.bannerLinks a, img {
  text-decoration: none;
  color: rgba(0,0,0,1);
  opacity: 1;
}

.bannerLinks a:hover, img {
  color: rgba(0,0,0,0.5);
  opacity: 0.9;
  filter: alpha(opacity=90);
}

/*about section banner*/
.aboutBanner {
  /*background-color: #ffffe0;*/
  margin: 20px;
  padding: 0;
  overflow: auto;
}

.AboutMeWrapperGoLeft {
  width: 70%;
  float: left;
  margin-right: 2%;
}

.AboutMeWrapperGoRight {
  width: 27%;
  float: Right;
  text-align: center;
  margin-left: 1%;
}

.AboutMeWrapperGoRight img{
  margin-top: 25px;
  border-radius: 25%;
  width: 100%;
  height: 100%;
  object-fit: contain;
  overflow: hidden;
}

/*education section banner*/
.educationBanner {
  background-color: #B0E0E6;
  height: 300px;
  margin: 0;
  padding: 0;
  overflow: auto;
  color: black;
}

/*projects section banner*/
.projectsBanner {
  background-color: #E6E6FA;
  height: 300px;
  margin: 0;
  padding: 0;
  overflow: auto;
  color: black;
}

/*Links to professional resources facebook, github, linkedin. Can include copyright for website.*/
footer {
  border-bottom-style: none;
  border-left-style: none;
  border-right-style: none;
  border-top-style: solid;
  border-width: 2px;
  border-color: rgba(0,0,0,0.2);
  margin: 0;
  padding: 5px 0px 0px 0px;
  overflow: auto;
}

.connectIcons img{
  margin: 5px;
  width: 100px;
  height: 100px;
}

.noLinkEffects a, a:visited, a:active, a:link{
  margin-top:5px;
  color: black;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
  color: blue;
}
