/*naigation menu*/
.headerMenu {
  margin: 0 auto;
  padding: 0px;
  width: 960px;
  overflow: auto;
  clear: both;
}

/*nav menu button special alignments*/
.goLeft {
  float: left;
  width: 30%;
}

.goLeft img {
  height: auto;
  min-width: 100px;
  width: 100%;
  padding: 1% 1% 1% 1%;
}

.goRight {
  float: right;
  width: 15%;
  min-width: 15px;
}

/*Simplify the header later*/
.goCenter {
  float: right;
  color: #ffffff;
  padding: 4px;
  position: static;
  margin-top: 55px;
  margin-right: 25px;
}

.goCenter a {
  text-decoration: none;
  color: #ffffff;
}

.goCenter img {
  max-width: 50px;
  margin: 11px;
}

.navMenu {
  color: #ffffff;
  padding: 6px;
  position: static;
  text-align: right;
  clear:both;
  background-color: #414042;
}

.navMenu a{
  text-decoration: none;
  color: #ffffff;
  padding: 15px 43px 15px 43px;
  background-color: #414042;
  margin-left: -10px;
  font-size: 1.4em;
}

.navMenu a:hover {
  background-color: #1c75bc;
}

.menuMaxWidth {
  width: 960px;
  margin: 0 auto;
}


/*h2 {
  color: Navy;
}*/
/*default background and margins for site*/
body {
  background-color: #ffffff;
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 2.0;
  font-family: Arial, Helvetica, sans-serif;
}

/*added margins to allow more whitespace and cleaner look overall*/
.centeredWrapper {
  padding: 0;
  margin: 0 auto;
  overflow: auto;
  width: 960px;
  text-align: left;
  word-wrap: normal;

}

/*Banner links styling*/
.bannerLinks a, img {
  text-decoration: none;
  color: rgba(0,0,0,1);
  opacity: 1;
}

.bannerLinks a:hover {
  color: #1c75bc;
}

/*about section banner*/
.aboutBanner {
  /*background-color: #ffffe0;*/
  padding: 0;
  margin: 45px auto 45px auto;
  overflow: auto;
  width: 960px;
  clear: both;
}

.AboutMeWrapperGoLeft {
  width: 70%;
  float: left;
  text-align: left;

}

.AboutMeWrapperGoRight {
  width: 27%;
  float: Right;
  text-align: center;
  margin-left: 1%;
}

.AboutMeWrapperGoRight img{
  margin-top: 25px;
  width: 100%;
  height: 100%;
  object-fit: contain;
  overflow: hidden;
}

/*education section banner*/
.educationBannerBG {
  background-color: #414042;
  margin: 0 auto;
  overflow: auto;
  padding: 0;
}

.educationBanner {
  clear: both;
  margin: 45px 0px 45px 0px;
  padding: 20px 0px 20px 0px;
  color: #414042;
  display: inline-flex;
  text-align: center;
  width: 960px;
  background-color: #414042;
}

.educationBanner a {
  text-decoration: none;
  color: #414042;
}

.educationBanner a:hover {
  color: #1c75bc;
}

.educationBanner h2 {
  margin-bottom: -5px;
  margin-top: 5px;
}

.educationLeft {
  width: 30%;
  text-align: center;
  margin-right: 7%;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;
  background-image: linear-gradient(to bottom, #414042, #414042), linear-gradient(to top, #63A3D3, #63A3D3);
  background-repeat: no-repeat;
  background-position: 0 0, 0 0;
  background-size: 100% 13%, 100% 100%;
}

.educationMiddle {
  width: 30%;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;
  background-image: linear-gradient(to bottom, #414042, #414042), linear-gradient(to top, #63A3D3, #63A3D3);
  background-repeat: no-repeat;
  background-position: 0 0, 0 0;
  background-size: 100% 13%, 100% 100%;
}

.educationRight {
  width: 30%;
  text-align: center;
  margin-left: 7%;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;
  background-image: linear-gradient(to bottom, #414042, #414042), linear-gradient(to top, #63A3D3, #63A3D3);
  background-repeat: no-repeat;
  background-position: 0 0, 0 0;
  background-size: 100% 13%, 100% 100%;
}

.educationLeft img, .educationMiddle img, .educationRight img {
  width: 45%;
  max-width: 225px;
}

/*projects section banner*/
.projectsBanner {
  width: 960px;
  margin: 45px 0px 45px 0px;
  padding: 0;
  overflow: auto;
  color: #414042;
  clear: both;
  display: inline-block;
}

.projectsBanner a {
  text-decoration: none;
  color: #414042;
}

.projectsBanner img{
  max-width: 95%;
  padding: 10px;
}

.proRow {
  clear:both;
  display: -webkit-box;
}

.proLeft {
  width: 25%;
  margin: 30px;
  border: solid;
  position: relative;
  border-width: 0.02in;
  border-color: #414042;
  min-height: 200px;
}

.proCent {
  width: 25%;
  margin: 30px;
  border: solid;
  position: relative;
  border-width: 0.02in;
  border-color: #414042;
  min-height: 200px;
}

.proRight {
  width: 25%;
  margin: 30px;
  border: solid;
  position: relative;
  border-width: 0.02in;
  border-color: #414042;
  min-height: 200px;
}

.proLeft:hover, .proRight:hover, .proCent:hover {
  border-color: #1c75bc;
}

.hiddenTitle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #ffffff;
}

.proLeft:hover .hiddenTitle, .proCent:hover .hiddenTitle, .proRight:hover .hiddenTitle {
  opacity: 1;
}

.imgTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: #ffffff;
}

/*Links to professional resources facebook, github, linkedin. Can include copyright for website.*/
footer {
  margin: 0;
  padding: 0px 0px 45px 0px;
  overflow: auto;
  font-size: smaller;
  color: #ffffff;
  background-color: #414042;
  clear: both;
}

footer h4 {
  text-transform: uppercase;
  text-align: left;
}

footer ul{
  text-align: left;
  padding: 0;
  margin: 0;
  line-height: normal;
}

.threeSections {
  width: 960px;
  margin: 45px auto 0px auto;
  overflow: auto;
  display: flex;
  text-align: center;
}

.leftFooter {
  width: 31%;
  margin-right: 10%;
  text-align: left;
}

.middleFooter {
  width: 40%;
  text-align: left;
  margin-right: 7%;
}

.middleFooter ul {
  list-style: circle;
}

.rightFooter {
  width: 10%;
  text-align: left;
}

.rightFooter ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.connectIcons {
  margin-top: 10px;
  text-align: center;
}

.connectIcons img{
  margin: 5px;
  width: 25px;
  height: 25px;
}

footer a {
  text-decoration: none;
  color: #ffffff;
}

footer a:hover {
  text-decoration: underline;
  color: #1c75bc;
}

/*Styling for Projects for unity amoung pages*/
.basicProjectLayout {
  display: flex;
  margin-bottom: 45px;
}

.basicProjectLayout img {
  width: 75%;
  margin: 10px;
  box-shadow: 5px 5px 20px #858485;
}

.pagePagination {
  display: flex;
  text-align: center;
  width: 100%;
  margin-bottom: 65px;
}

.pagePagination img{
  width: 7%;
  min-width: 20px;
  transform: translate(0px, 5px);
}

.pagePagination a {
  text-decoration: none;
  width: 33%;
  color: #1c75bc;
}

.ppLeft {
  width: 33%;
}

.ppright {
  width: 33%;
}


.singleProjLeft {
  width: 70%;
}

.singleProjLeft img {
  width: 100%;
  margin-top: 30px;
}

.singleProjRight {
  text-align: left;
  width: 30%;
}

.bluePLink {
  width: 100%;
  color: #ffffff;
  background-color: #1c75bc;
  text-align: center;
  margin-top: 10px;
  display: block;
}

.bluePLink a {
  text-decoration: none;
  color: #ffffff;
}

.slideshowImgs {
  max-width: 80%;
}

.eachSlide {
  display:none;
  box-shadow: 5px 5px 20px #858485;
}

.imgButtons {
  text-align: center;
  max-width: 13%;
  display: flex;
  max-height: 100px;
}

/*Global Classes*/
.goBlue {
  text-decoration: none;
  color: #414042;
  font-weight: bold;
}

.goBlue a:hover {
  color: #1c75bc;
  font-weight: bold;
}

hr {
  height: 0.02in;
  border: 0 none;
  color: #414042;
  background-color: #414042;
  width: 960px;
}

/*About Page section*/
.aboutHeader {
  margin-top: 45px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.aboutBackground {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #63A3D3;
}

.aboutMain {
  width: 960px;
  margin: 0 auto;
  display: flex;
  text-align: left;
}

.aboutMainpt2 {
  width: 960px;
  margin: 0 auto;
  text-align: left;
  margin-top: 65px;
  margin-bottom: 65px;
}

.aboutMainpt2 a{
  font-style: italic;
  text-decoration: none;
  color: #414042;
}

.aboutMainpt2 a:hover {
  color: #1c75bc;
}

.aboutLeft {
  width: 40%;
}

.aboutLeft img {
  width: 90%;
  min-width: 200px;
  margin-top: 35px;
  margin-bottom: 35px
}

.aboutRight {
  padding: 15px;
  width: 50%;
  text-align: left;
  margin-left: 6%;
}

/*Education Page section*/
.eduHead {
  margin-top: 45px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.eduMain {
  width: 960px;
  margin: 0 auto;
  display: flex;
  text-align: left;
}

.eduMain2 {
  width: 960px;
  margin: 0 auto;
  text-align: center;
  margin-top: 65px;
  margin-bottom: 85px;
  display: flex;
}

.eduBackground {
  padding-bottom: 10px;
  background-color: #63A3D3;
}

.eduLeft {
  width: 40%;
}

.eduLeft img {
  width: 80%;
  min-width: 200px;
  margin-top: 15%;
  margin-bottom: 35px;
}

.eduRight {
  padding: 15px;
  width: 50%;
  text-align: center;
  margin-left: 8%;
}

.eduLeft2 {
  width: 50%;
  text-align: center;
}

.eduRight2 {
  width: 50%;
}

.eduRight2 img {
  width: 90%;
  min-width: 200px;
}

/*Experience Page section*/
.expHead {
  margin-top: 45px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.expBackground {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #63A3D3;
}

.expMain {
  width: 960px;
  margin: 0 auto;
  display: flex;
  text-align: left;
  margin-bottom: 10px;
}

.expLeft {
  width: 20%;
}

.expLeft img {
  width: 90%;
  min-width: 200px;
  margin-top: 122%;
  margin-bottom: 35px;
}

.expRight {
  padding: 15px;
  width: 70%;
  text-align: left;
  margin-left: 8%;
}

.expMain2 {
  width: 960px;
  margin: 0 auto;
  display: flex;
  text-align: left;
  margin-top: 90px;
  margin-bottom: 70px;
}

.expRight2 {
  width: 20%;
}

.expRight2 img {
  width: 90%;
  min-width: 200px;
  margin-top: 25%;
  margin-bottom: 35px;
}

.expLeft2 {
  padding: 15px 15px 15px 0px;
  width: 70%;
  text-align: left;
  margin-right: 8%;
}
/*Project Folder section*/
.projHead {
  margin-top: 45px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.projMain {
  width: 960px;
  margin: 0 auto;
  text-align: center;
}

.projRows {
  display: flex;
  margin-top: 45px;
  margin-bottom: 45px;
}

.projR1 {
  margin: 30px;
  width: 40%;
  background-color: #DAD9DA;
  padding-top: 6%;
  min-width: 50px;
  box-shadow: 5px 5px 20px #858485;
}

.projR1:hover {
  background-color: #1c75bc;
}

.projR1 a {
  text-decoration: none;
  color: #414042;
  width: inherit;
  height: inherit;
}

.projR1 p{
  padding-left: 15%;
  padding-right: 15%;
  line-height: 115%;
  margin-bottom: 14%;
}

.projR1 img {
  width: 70%;
}

.projSpacer {
  margin: 1%;
}

/*760px next smallest media query*/
@media only screen and (max-width: 960px) and (min-width: 600px){
  .headerMenu {
    width: 100%;
    padding: 0px 20px 0px 20px;
  }
  .goCenter img {
    max-width: 50px;
    margin: -5px;
  }
  .navMenu {
    width: 100%;
  }
  .menuMaxWidth {
    width: 100%;
  }

  hr {
    width: 100%;
  }
  .centeredWrapper {
    width: 100%;
  }
  .goCenter a {
    padding: 15px 20px 15px 20px;
  }
  .aboutBanner {
    width: 100%;
    padding: 0px 20px 0px 20px;
  }
  .educationBanner {
    width: 100%;
  }
  .projectsBanner {
    width: 100%;
  }
  .threeSections {
    width: 100%;
  }
  .aboutMain, .aboutMainpt2, .eduMain, .eduMain2, .expMain, .expMain2, .projMain {
    width: 100%;
  }
}
