/*naigation menu*/
.headerMenu {
  margin: 0 auto;
  padding: 0px;
  width: 960px;
  overflow: auto;
  clear: both;
}

/*nav menu button special alignments*/
.goLeft {
  float: left;
  width: 30%;
}

.goLeft img {
  height: auto;
  min-width: 100px;
  width: 100%;
  padding: 1% 1% 1% 1%;
}

.goRight {
  float: right;
  width: 15%;
  min-width: 15px;
}

/*Simplify the header later*/
.goCenter {
  float: right;
  color: #ffffff;
  padding: 4px;
  position: static;
  margin-top: 55px;
}

.goCenter a {
  text-decoration: none;
  color: #ffffff;
}

.goCenter img {
  max-width: 50px;
  margin: 15px;
}

.navMenu {
  color: #ffffff;
  padding: 10px;
  position: static;
  text-align: right;
  clear:both;
  background-color: #414042;
}

.navMenu a{
  text-decoration: none;
  color: #ffffff;
  padding: 15px 43px 15px 43px;
  background-color: #414042;
  margin-left: -10px;
}

.navMenu a:hover {
  background-color: #1c75bc;
}

.menuMaxWidth {
  width: 960px;
  margin: 0 auto;
}


/*h2 {
  color: Navy;
}*/
/*default background and margins for site*/
body {
  background-color: #f5f5f5;
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 2.0;
  font-family: Arial, Helvetica, sans-serif;
}

/*added margins to allow more whitespace and cleaner look overall*/
.centeredWrapper {
  padding: 0;
  margin: 0 auto;
  overflow: auto;
  width: 960px;
  text-align: left;
  word-wrap: normal;

}

/*Banner links styling*/
.bannerLinks a, img {
  text-decoration: none;
  color: rgba(0,0,0,1);
  opacity: 1;
}

.bannerLinks a:hover {
  color: #1c75bc;
}

/*about section banner*/
.aboutBanner {
  /*background-color: #ffffe0;*/
  padding: 0;
  margin: 45px auto 45px auto;
  overflow: auto;
  width: 960px;
  clear: both;
}

.AboutMeWrapperGoLeft {
  width: 70%;
  float: left;
  text-align: left;

}

.AboutMeWrapperGoRight {
  width: 27%;
  float: Right;
  text-align: center;
  margin-left: 1%;
}

.AboutMeWrapperGoRight img{
  margin-top: 25px;
  width: 100%;
  height: 100%;
  object-fit: contain;
  overflow: hidden;
}

/*education section banner*/
.educationBannerBG {
  background-color: #414042;
  margin: 0 auto;
  overflow: auto;
  padding: 0;
}

.educationBanner {
  clear: both;
  margin: 45px 0px 45px 0px;
  padding: 20px 0px 20px 0px;
  color: #414042;
  display: inline-flex;
  text-align: center;
  width: 960px;
  background-color: #414042;
}

.educationBanner a {
  text-decoration: none;
  color: #414042;
}

.educationBanner a:hover {
  color: #1c75bc;
}

.educationLeft {
  width: 30%;
  text-align: center;
  margin-right: 7%;
  padding-left: 15px;
  padding-right: 15px;
  background-image: linear-gradient(to bottom, #414042, #414042), linear-gradient(to top, #63A3D3, #63A3D3);
  background-repeat: no-repeat;
  background-position: 0 0, 0 0;
  background-size: 100% 13%, 100% 100%;
}

.educationMiddle {
  width: 30%;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  background-image: linear-gradient(to bottom, #414042, #414042), linear-gradient(to top, #63A3D3, #63A3D3);
  background-repeat: no-repeat;
  background-position: 0 0, 0 0;
  background-size: 100% 13%, 100% 100%;
}

.educationRight {
  width: 30%;
  text-align: center;
  margin-left: 7%;
  padding-left: 15px;
  padding-right: 15px;
  background-image: linear-gradient(to bottom, #414042, #414042), linear-gradient(to top, #63A3D3, #63A3D3);
  background-repeat: no-repeat;
  background-position: 0 0, 0 0;
  background-size: 100% 13%, 100% 100%;
}

.educationLeft img, .educationMiddle img, .educationRight img {
  width: 45%;
  max-width: 225px;
}

/*projects section banner*/
.projectsBanner {
/*  background-color: #E6E6FA;*/
  width: 960px;
  margin: 45px 0px 45px 0px;
  padding: 0;
  overflow: auto;
  color: #414042;
  clear: both;
  display: inline-block;
}

.projectsBanner a {
  text-decoration: none;
  color: #414042;
}

.projectsBanner img{
  max-width: 95%;
  padding: 10px;
  transform: translate(0%,18%);
}

.proRow {
  clear:both;
  display: -webkit-box;
}

.proLeft {
  width: 25%;
  margin: 30px;
  border: solid;
  position: relative;
  border-width: 0.02in;
  border-color: #414042;
  min-height: 200px;
}

.proCent {
  width: 25%;
  margin: 30px;
  border: solid;
  position: relative;
  border-width: 0.02in;
  border-color: #414042;
  min-height: 200px;
}

.proRight {
  width: 25%;
  margin: 30px;
  border: solid;
  position: relative;
  border-width: 0.02in;
  border-color: #414042;
  min-height: 200px;
}

.proLeft:hover, .proRight:hover, .proCent:hover {
  border-color: #1c75bc;
}

.hiddenTitle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #ffffff;
}

.proLeft:hover .hiddenTitle, .proCent:hover .hiddenTitle, .proRight:hover .hiddenTitle {
  opacity: 1;
}

.imgTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: #ffffff;
}

/*Links to professional resources facebook, github, linkedin. Can include copyright for website.*/
footer {
  margin: 0;
  padding: 0px 0px 45px 0px;
  overflow: auto;
  font-size: smaller;
  color: #ffffff;
  background-color: #414042;
  clear: both;
}

footer h4 {
  text-transform: uppercase;
  text-align: left;
}

footer ul{
  text-align: left;
  padding: 0;
  margin: 0;
  line-height: normal;
}

.threeSections {
  display: inline-block;
  text-align: center;
  overflow: auto;
  width: 960px;
  margin: 45px 0px 0px 0px;
}

.leftFooter {
  float: left;
  width: 25%;
  margin-right: 5%;
  margin-left: 12%;
}

.middleFooter {
  float: left;
  width: 30%;
  text-align: left;
  margin-right: 5%;
}

.middleFooter ul {
  list-style: circle;
}

.rightFooter {
  float: left;
  width: 18%;
  text-align: left;
}

.rightFooter ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.connectIcons img{
  margin: 5px;
  width: 25px;
  height: 25px;
}

footer a {
  text-decoration: none;
  color: #ffffff;
}

footer a:hover {
  text-decoration: underline;
  color: #1c75bc;
}

/*Styling for Projects for unity amoung pages*/
.basicProjectLayout {
  display: inline;
}

.basicProjectLayout img {
  width: 90%;
}

/*test section image popup*/
.trow > .tcolumn {
  padding: 0 0px;
}

.trow:after {
  content: "";
  display: table;
  clear: both;
}

/* align the columns, change width if more then four comlumns */
.tcolumn {
  display: inline-block;
  width: 12%;
  min-width: 100px;
  background-color: #ffffff;
}

/* The Slideshow Background */
.slideBG {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 90%;
  overflow: auto;
  background-color: #414042;
}

/* Modal Content */
.slideshow-content {
  position: relative;
  background-color: #414042;
  margin: auto;
  padding: 0;
  width: 60%;
  max-width: 800px;
  max-height: 70%;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/*Default hides the slideshow */
.eachSlides {
  display: none;
}

/* back & forward slide buttons */
.back,
.forward {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  background-color: rgba(0, 0, 0, 0.1);
}

/* Position the "forward button" to the right */
.forward {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.back:hover,
.forward:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


/* am i using this at all? if so why?*/
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* caption/alt text */
.alt-container {
  text-align: center;
  background-color: #414042;
  padding: 2px 16px;
  color: white;
}

img.preview {
  opacity: 0.6;
}

.active,
.preview:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*Global Classes*/
.goBlue {
  text-decoration: none;
  color: #414042;
  font-weight: bold;
}

.goBlue a:hover {
  color: #1c75bc;
  font-weight: bold;
}

hr {
  height: 0.02in;
  border: 0 none;
  color: #414042;
  background-color: #414042;
  width: 960px;
}

@media only screen and (max-width: 960px) and (min-width: 600px){
  .headerMenu {
    width: 100%;
    padding: 0px 20px 0px 20px;
  }
  hr {
    width: 100%;
  }
  .centeredWrapper {
    width: 100%;
  }
  .goCenter a {
    padding: 15px 20px 15px 20px;
  }
  .aboutBanner {
    width: 100%;
    padding: 0px 20px 0px 20px;
  }
  .educationBanner {
    width: 100%;
  }
  .projectsBanner {
    width: 100%;
  }
  .threeSections {
    width: 100%;
  }
}

@media only screen and (max-width: 600px){
  .headerMenu {
    width: 100%;
    padding: 0px 20px 0px 20px;
    font-size: smaller;
  }
  hr {
    width: 100%;
  }
  .centeredWrapper {
    width: 100%;
    font-size: smaller;
  }
  .AboutMeWrapperGoLeft {
    display: inline;
  }
  .goCenter a {
    padding: 15px 20px 15px 20px;
  }
  .aboutBanner {
    width: 100%;
    padding: 0px 20px 0px 20px;
    font-size: smaller;
  }
  .AboutMeWrapperGoRight img {
    border-radius: 50px;
  }
  .educationBanner {
    width: 100%;
    display: flex;
    text-align: center;
    font-size: smaller;
  }
  .educationLeft, .educationMiddle, .educationRight {
    margin-top: 35px;
  }
  .projectsBanner {
    width: 100%;
    display: block;
    text-align: center;
  }
  .proRow {
    display: flex;
    text-align: center;
    font-size: x-small;
  }
  .proLeft, .proRight, .proCent {
    min-height: 40px;
  }
  .threeSections {
    width: 100%;
    font-size: x-small;
  }
}
