/*naigation menu*/
.headerMenu {
  border-bottom-style: solid;
  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
  border-width: 2px;
  border-color: rgba(0,0,0,0.2);
  margin: 0;
  padding: 5px;
  overflow: auto;
}

/*nav menu button special alignments*/
.goLeft {
  float: left;
}

.goRight {
  float: Right;
}

/*Simplify the header later*/
.goCenter {
  text-align: center;
}

/*nav bar drop down menu*/
.dropbtn {
  padding: 16px;
  border: none;
  background-color: inherit;
}

.dropdown {
  position: absolute;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #ddd;
}

/*h2 {
  color: Navy;
}*/
/*default background and margins for site*/
body {
  background-color: #f5f5f5;
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 2.0;
  font-family: Arial, Helvetica, sans-serif;
}

/*added margins to allow more whitespace and cleaner look overall*/
.centeredWrapper {
  padding: 0;
  margin: 0 auto;
  overflow: auto;
  width: 70%;
  text-align: left;
  word-wrap: normal;

}

/*Banner links styling*/
.bannerLinks a, img {
  text-decoration: none;
  color: rgba(0,0,0,1);
  opacity: 1;
}

.bannerLinks a:hover, img {
  color: rgba(0,0,0,0.5);
  opacity: 0.9;
  filter: alpha(opacity=90);
}

/*about section banner*/
.aboutBanner {
  /*background-color: #ffffe0;*/
  margin: 20px;
  padding: 0;
  overflow: auto;
}

.AboutMeWrapperGoLeft {
  width: 70%;
  float: left;
  margin-right: 2%;
}

.AboutMeWrapperGoRight {
  width: 27%;
  float: Right;
  text-align: center;
  margin-left: 1%;
}

.AboutMeWrapperGoRight img{
  margin-top: 25px;
  border-radius: 25%;
  width: 100%;
  height: 100%;
  object-fit: contain;
  overflow: hidden;
}

/*education section banner*/
.educationBanner {
  background-color: #B0E0E6;
  margin: 0;
  padding: 0;
  color: black;
  display: block;
  clear: both;
}

.educationBanner img {
  max-width: 200px;
  height: auto;
}

.educationLeft {
  left: 25%;
}

.educationLeft p, .educationLeft h4 {
  text-align: center;
}

.educationMiddle {
  text-align: center;
}

.educationRight {
  text-align: right;
}

.educationRight p, .educationRight h4 {
  text-align: center;
}
/*projects section banner*/
.projectsBanner {
  background-color: #E6E6FA;
  height: 300px;
  margin: 0;
  padding: 0;
  overflow: auto;
  color: black;
  clear: both;
}

/*Links to professional resources facebook, github, linkedin. Can include copyright for website.*/
footer {
  border-bottom-style: none;
  border-left-style: none;
  border-right-style: none;
  border-top-style: solid;
  border-width: 2px;
  border-color: rgba(0,0,0,0.2);
  margin: 0;
  padding: 5px 0px 0px 0px;
  overflow: auto;
  font-size: smaller;
}

footer h4 {
  text-transform: uppercase;
  text-align: left;
}

footer ul{
  text-align: left;
  padding: 0;
  margin: 0;
  line-height: normal;
}

.threeSections {
  display: inline-block;
  text-align: center;
  overflow: auto;
  width: 80%;
}

.leftFooter {
  float: left;
  width: 30%;
  margin-right: 5%;
  margin-left: 12%;
}

.middleFooter {
  float: left;
  width: 30%;
  text-align: left;
  margin-right: 5%;
}

.middleFooter ul {
  list-style: circle;
}

.rightFooter {
  float: left;
  width: 18%;
  text-align: left;
}

.rightFooter ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footerBottom {
  display: inline-block;
}

.connectIcons img{
  margin: 5px;
  width: 25px;
  height: 25px;
}


footer a:hover {
  text-decoration: underline;
  color: blue;
}

/*Styling for Projects for unity amoung pages*/
.basicProjecetLayout {
  display: inline;
}

.basicProjecetLayout img {
  width: 90%;
  max-height: auto;
}

/*test section image popup*/
.trow > .tcolumn {
  padding: 0 0px;
}

.trow:after {
  content: "";
  display: table;
  clear: both;
}

/* Float the columns, change width if more then four comlumns */
.tcolumn {
  float: left;
  width: 25%;
}

/* The Slideshow Background */
.slideBG {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 90%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.slideshow-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 60%;
  max-width: 800px;
  max-height: 80%;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/*Default hides the slideshow */
.eachSlides {
  display: none;
}

/* back & forward slide buttons */
.back,
.forward {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  background-color: rgba(0, 0, 0, 0.1);
}

/* Position the "forward button" to the right */
.forward {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.back:hover,
.forward:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


/* am i using this at all? if so why?*/
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* caption/alt text */
.alt-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.preview {
  opacity: 0.6;
}

.active,
.preview:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
